@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
}
body{
    padding-top: 40px;
    margin-right: auto; 
    margin-left: auto;
    width: 85%;
}
.header{
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar a{
    padding: 12px;
    align-items: center;
}
.elements a img{
    margin-left: 5px;
}
.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home .aboutme{
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.colord{
    display: inline;
    padding-right: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 75px;
    line-height: 110%;
    font-weight: bolder;
    letter-spacing: -2px;

}
.myimg{
    position:relative;
    width: 40%;
}

.myimg img{
    object-fit: contain;
    vertical-align: bottom;
    margin-top: 25px;
}
.para{
    font-size: 22px;
    color: #666;
    margin-top: 25px;
    margin-bottom: 40px;
}
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 372px;
    height: 58px;
    font-size: large;
}
.links .btn a{
    position:absolute;
    padding: 16.5px 30px;
    background-color: #000;
    color: #fff;
}
.links .cv{
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    align-items: center;
}
.arrow{
    display: flex;
    flex-direction: column;
    height: 14px;
    width: 14px;
    margin-left: 14px;
}
.arrow img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
}